@font-face {
  font-family: "iconfont"; /* Project id 4585661 */
  src: url('iconfont.woff2?t=1718356089539') format('woff2'),
       url('iconfont.woff?t=1718356089539') format('woff'),
       url('iconfont.ttf?t=1718356089539') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-test:before {
  content: "\e605";
}

.icon-yingtao:before {
  content: "\e610";
}

.icon-15:before {
  content: "\e608";
}

.icon-hanbao:before {
  content: "\e67b";
}

